*{
  font-family:"Roboto Light";
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*{
  color: white;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
 color: white;
  background-image: linear-gradient(to bottom, #9eb9cc, #1e5e8b);
  background-image: linear-gradient(#1e5e8b, #9eb9cc);
}
.header{
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo{
   font-size: 2.2rem;
    font-weight: 600;
    color: #ffde59;
}
.menu-bar a{
  font-size: 1.5rem;
  margin-left: 3.5rem;
  transition: 0.4s ease;
}
/*passar o mouse e a cor mudar*/
.menu-bar a:hover{
  color: #ffde59;
}
#menu-btn{
  font-size: 3rem;
  display: none;
}

section{
  padding: 10rem 10%;
  min-height: 100vh;
}

/*-- Home Section -*/
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e5e8b;
}

.home-bio h3{
  font-size: 2.3rem;
}

span{
  color: #ffde59;
}

.home-bio h1{
  font-size: 3.5rem;
  line-height: 1.4;
}

.home-bio p{
  font-size: 1.5rem;
  padding: 1rem 0 ;
}

.profile-pic img{
  width: 25vw;
  margin-left: 25vw;
}
/*-- About Section --*/
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading{
  font-size: 3.3rem;
  text-align: center;
  margin: 4rem 0;
}
.about-items{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.about-resume h3{
  font-size: 2.4rem;
}
.about-items p{
  font-size: 1.8rem;
}
.about-text{
  margin-left: 30vw;
}
.and{
  margin:  45px;
  color: #fff;
}
.pic-about{
  height: 100px;
}

.pic-about img{
  width: 23vw;
  margin-right: 60vw;
  filter: brightness(60%);
  margin-top: -50px;
}

/*-- Skills Section --*/

.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
}
.skills-items img{
  width: 100%;
}

.concerto{
  font-size: 15px;
}

.skill-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: #fff;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-card:hover{/*fotos e texto se movimentao*/
  border-radius: 1rem ;
  transform: scale(1.05);
}
.skill-card  .bx{ /*tamanho das fotos e trocar a cor quando passar em cima*/
  font-size: 8rem;
  transition: 0.4s case;
}

.skill-card .bx:hover{
  color: #A020F0;
}

.skill.card h3{
  font-size: 2.5rem;
  font-weight: 200;
}
.skill.card p{
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.5;
}

/*-- footer --*/

.final{
  background-color: #0b141e;
}
.tituloF{
  color: #ffde59;
  margin-left: 10px;
}
.textF{
  text-align: left;
  color: #fff;
  margin-left: 25%;
  margin-right: 45%;
  margin-top: -12%;
}
.contatoF{
  text-align: center;
  margin-left: 60%;
  margin-top: -9%;
  font-size: 15px;
}
.pF{
  color: #ffde59;

}
/* -- galeria --*/
.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  min-width: 100vh;
  box-sizing: border-box;
}
.container .imgs{
  position: relative;
  width: 30vh;
  height: 60vh;
  transition: 0.5s;
  transform-origin: bottom center;
  padding: 1px 4px;
}
.container .imgs.hovered{
  transform: perspective(200px) rotateY(0deg)scale(1.3);
  z-index: 334000000;
}
.container .imgs.prev{
  margin: 0 -20px;
  transform: perspective(500px)rotateY(45deg)scale(0.95);
}

.container .imgs.next{
  margin: 0 -20px;
  transform: perspective(500px)rotateY(-45deg)scale(0.95);
}
.mapa{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}