<!DOCTYPE html>
<html>
<head>
    <title>Contact Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/form.css' %}">
</head>
<body>
   <div class="heading">
            <h2>Cadastro de  <span>serviço</span></h2>
        </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a type="button" href="{% url 'contact_list' %}">Back to Contact List</a>
        <button type="submit">Save</button>
    </form>

</body>
</html>