
<!DOCTYPE html>
<html>
<head>
    <title>Demonstrativo das Tabelas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/tabelas.css' %}">
</head>
<body>

    <header>
        <h1>Demonstrativo das Tabelas</h1>
    </header>
<div class="container">
    <h2>Clientes</h2>
    <ul>
        {% for cliente in clientes %}
        <li>{{ cliente.nomecli }} - {{ cliente.codcli }}</li>
        {% endfor %}
    </ul>

    <h2>Fornecedores</h2>
    <ul>
        {% for fornecedor in fornecedores %}
        <li>{{ fornecedor.nomeforn }} - {{ fornecedor.codiforn }}</li>
        {% endfor %}
    </ul>

    <h2>Produtos</h2>
    <ul>
        {% for produto in produtos %}
        <li>{{ produto.descprod }} - {{ produto.codiprod }}</li>
        {% endfor %}
    </ul>

    <h2>Vendas</h2>
    <ul>
        {% for venda in vendas %}
        <li>{{ venda.codivend }} - {{ venda.valorvend }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'landing' %}">Voltar para Home</a>
</div>

</body>
</html>