<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deluxe Motorsports</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css.css' %}">
</head>
<body>
   <!-- cabeçalho com as opções-->
    <header class="header">
        <a href="#" class="logo">Trade.Agile</a>
        <i class='bx bx-menu' id="menu-btn"></i>
        <nav class="menu-bar">
            <a href="#home">Home</a>
            <a href="#about">Sobre nós</a>
            <a href="#work">Produtos</a>
            <a href="#contact">Galeria</a>
            <a href="#map">Localização</a>
            <a href="{% url 'contact_list' %}">Cadastrar serviço</a>
            <a href="{%  url 'cadastro_clientes' %}">Cadastrar cliente</a>
            <a href="{% url 'realizar_venda' %}">Vendas</a>
            <a href="{% url 'demonstrativo_tabelas' %}">tabela</a>
        </nav>
    </header>

    <!-- Home Section -->
    <section class="home" id="home">
        <div class="home-bio">
           <div class="heading">
            <h2>Bem vindo a <span> Trade.Agile</span> </h2>
            <p><img src="{% static 'app/images/trade.agile.jpg' %}" alt=""></p>
           </div>
             <div class="heading">
            <h2>Soluções <span> inteligentes</span> para um mundo <span>digital</span> </h2>
             </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="heading">
            <h2>Sobre <span>Nós</span></h2>
        </div>
        <div class="about-items">
            <div class="about-text">
                <p>Com anos de experiência e uma equipe altamente qualificada, a Trade.Agile se dedica a oferecer serviços excepcionais.
                    Utilizando as melhores ferramentas e equipamentos modernos. Priorizando a transparência e a comunicação com cada cliente.
            </div>
        </div>
    </section>

    <section class="skills" id="work">
        <div class="heading">
            <h2>Nossos<span> Produtos</span> </h2>
        </div>
        <br><br><br><br><br><br>

        <div class="skills-items">
            <div class="skill-card">
               <a href="{% url 'contact_list' %}"><img src="{% static 'app/images/racaogolden.jpg' %}" alt=""><br></a>
                <h3 class="concerto" style="color: black;">Ração Golden Special para Cães Adultos</h3><br>
                <P class="concerto" style="color: black;">149,99R$</P><br>
                <p class="concerto" style="color: black;">15kg.</p><br>
            </div>

            <div class="skill-card">
                 <a href="{% url 'contact_list' %}"><img src="{% static 'app/images/areiagato.jpg' %}" alt=""><br></a>
                <h3 class="concerto" style="color: black;">Areia Higiênica Pipicat Classic para Gatos</h3><br>
                <P class="concerto" style="color: black;">45,99R$</P><br>
                <p class="concerto" style="color: black;">12kg.</p><br>
            </div>

            <div class="skill-card">
                <a href="{% url 'contact_list' %}"><img src="{% static 'app/images/tapete.jpg' %}" alt=""><br></a>
                <h3 class="concerto" style="color: black;">Super Secão Tapete Higiênico para Cachorro</h3><br>
                <P class="concerto" style="color: black;">99,99R$</P><br>
                <p class="concerto" style="color: black;">30un.</p><br>
            </div>

            <div class="skill-card">
                 <a href="{% url 'contact_list' %}"><img src="{% static 'app/images/racaogato.jpg' %}" alt=""><br></a>
                <h3 class="concerto" style="color: black;">Ração GranPlus Choice para Gatos Adultos</h3><br>
                <P class="concerto" style="color: black;">147,90R$</P><br>
                <p class="concerto" style="color: black;">10,1kg.</p><br>
            </div>

            <div class="skill-card">
                <a href="{% url 'contact_list' %}"><img src="{% static 'app/images/brinquedo.jpg' %}" alt=""><br></a>
                <h3 class="concerto" style="color: black;">Brinquedo Chalesco Macaco Pelúcia Marrom para Cães</h3><br>
                <P class="concerto" style="color: black;">29,74R$</P><br>
            </div>

            <div class="skill-card">
                <a href="{% url 'contact_list' %}"><img src="{% static 'app/images/antipulgas.jpg' %}" alt=""><br></a>
                <h3 class="concerto" style="color: black;">Antipulgas e Carrapatos NexGard para Cães</h3><br>
                <P class="concerto" style="color: black;">84,99R$</P><br>
                <p class="concerto" style="color: black;">4,1 a 10kg.</p><br>
            </div>
        </div>
    </section>

    <section class="projects" id="contact">
        <div class="heading">
            <h2>Ícones da <span> loja</span> </h2>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
          <img src="{% static "app/images/lulu.jpg" %}" class="imgs">
          <img src="{% static "app/images/hamsters.jpg" %}" class="imgs">
          <img src="{% static "app/images/papagaio.jpg" %}" class="imgs">
          <img src="{% static "app/images/gato.jpg" %}" class="imgs">
          <img src="{% static "app/images/rottweiler.jpg" %}" class="imgs">
      </div>
    </section>
   <section class="map" id="map">
        <div class="heading">
            <h2>Localização principal <span>da loja</span> </h2>
        </div>
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4435.184176555694!2d-49.36110504736009!3d-20.81027477294653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bc52ab6f9735ed%3A0x8a4fc1fb34629f78!2sTeatro%20Sesi%20%22Waldemar%20de%20Oliveira%20Verdi%22!5e0!3m2!1spt-BR!2sbr!4v1718130812935!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
   </section>

    <br>
    <br>
    <br>
    <footer class="final">
        <br>
        <h1 class="tituloF" >Trade.Agile</h1>
        <hr style="border: solid white 1px;">
        <div class="contatoF">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p class="pF" >CONTATO:</p><br>
            <p >+55 (17) 13277-1486</p><br>
            <i class='bx bxl-whatsapp' > Enviar mensagem</i><br>
            <i class='bx bx-envelope' > Contato@gmail.com</i><br>
            <br><br><br><br><br><br>
        </div>
    </footer>
    <script>
        document.querySelectorAll('.imgs').forEach((box, index, boxes) => {
    box.addEventListener('mouseover', ()=> {
        boxes.forEach((b,i) => {
            let className = i < index? 'prev': i ===
            index ? 'hovered' : 'next';
            b.classList.remove('prev', 'next', 'hovered')
            b.classList.add(className);
        })
    })
    box.addEventListener('mouseleave',() => {
        boxes.forEach((b) => b.classList.remove('prev', 'next', 'hovered'));
    })
});
    </script>
</body>
</html>
