
<!DOCTYPE html>
<html>
<head>
    <title>Realizar Venda</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendas.css' %}">
</head>
<body>
    <h1>Realizar Venda</h1>
    <form method="post">
        {% csrf_token %}
        <label for="cliente">Cliente:</label>
        <select id="cliente" name="cliente">
            {% for cliente in clientes %}
            <option value="{{ cliente.idcli }}">{{ cliente.nomecli }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="produto">Produto:</label>
        <select id="produto" name="produto">
            {% for produto in produtos %}
            <option value="{{ produto.idprod }}">{{ produto.descprod }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" min="1">
        <br>
        <button type="submit">Realizar Venda</button>
    </form>
    <a href="{% url 'landing' %}">Voltar para Home</a>
</body>
</html>