<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>registro</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/register.css' %}">

</head>
<body>
    <div class="container mt-5">
        <h2>Registro</h2>

        <!-- Formulário para registro do usuário, utilizando o método POST -->
        <form method="post" class="form-group">
            <!-- Token CSRF para segurança contra ataques de falsificação de requisições entre sites -->
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Botão de envio para o formulário -->
            <button type="submit" class="btn btn-primary">Registrar</button>


        <!-- Link para a página de login caso o usuário já tenha uma conta -->
        <span style="font-size: 15px;">Já tenho uma conta</span> <a href="{% url 'logout' %}">Fazer login</a>
        </form>
    </div>

    <!-- Biblioteca jQuery para funcionalidades em JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js para tooltips e popovers -->
    <script src="https://cdn.jsdelivy.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <!-- JS do Bootstrap para componentes e funcionalidades adicionais -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
