<!DOCTYPE html>
<html>
<head>
    <title>Contact Delete</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/confirm.css' %}">
</head>
<body>
<div class="heading">
            <h2>Certeza que quer confirmar o serviço do cliente <span>"{{ contact.name }}"?</span></h2>
        </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, o serviço foi feito</button>
    </form>
<br>
<button><a href="{% url 'contact_list' %}">Cancelar, não foi realizado</a></button>
</body>
</html>
